<div class="row">
  <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Active Families</a></li>
    <li><a href="#tabs-2">Inactive Families</a></li>
  </ul>
  <div class="small-7 columns" id = "tabs-1">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "active_families" %>
    <br />
    <%= link_to "Add a new family", new_family_path, class: "button tiny radius" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns" id = "tabs-2">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'inactive_families' %>
  </div>
</div>
</div>