<div class="row">
  <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Active Instructors</a></li>
    <li><a href="#tabs-2">Inactive Instructors</a></li>
  </ul>
  <div class="small-7 columns" id="tabs-1">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "active_instructors" %>
    <br />
    <%= link_to "Add a new instructor", new_instructor_path, class: "button tiny radius" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns" id="tabs-2">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'inactive_instructors' %>
  </div>
</div>
</div>