<h3>Welcome back, <%= current_user.username %>!</h3>

<table border="0" cellspacing="5" cellpadding="5">
	<tr valign="top">
		<td>
			<% if @upcoming_camps.nil? || @upcoming_camps.empty? %>
				<p>You have no camps at this time</p>
			<% else %>
				<div id="accordion">
					<h3>Camps with no registrations</h3>
					<div><%= render :partial => 'partials/no_registrations' %></div>
				</div></br>
			<%# end %>
		<!-- </td> -->
		<!-- <td width="50">&nbsp;</td>
		<td>
			<h3><span id="task_title">Incomplete Tasks</span>  &nbsp;&nbsp;<span class="add_link"><%#= link_to "[add new task]", new_task_path %></span></h3>
			<%# if @incomplete_tasks.empty? %>
				<p>You have no incomplete tasks at this time.</p>
			<%# else %>-->
				<div id="accordion">
					<h3>Instructors with no camps</h3>
					<div><%= render :partial => 'partials/no_camps'%></div>
				</div>
			<% end %>
		</td> 
	</tr>
</table>