<div style="position: relative; width: 96%; height: 600px; padding:1% 2%; overflow:hidden;" class="fakewindowcontain"><%= image_tag 'chesshomeedit.jpg' %>
	<!-- ui-dialog -->
	<div class="ui-overlay">
		<!-- <div class="ui-widget-overlay">
		</div> -->
		<div class="ui-widget-shadow ui-corner-all" style="width: 302px; height: 160px; position: absolute; right: 50px; top: 60px;">
		</div>
	</div>
	<div style="position: absolute; width: 280px; height: 155px;right: 50px; top: 60px; padding: 10px;" class="ui-widget ui-widget-content ui-corner-all">
			<p id = "font">The AMCC Chess Camps are focused on teaching students the age-old art of chess, a game of strategy and quick thinking - an intense battle of the minds.</p></div>
</div>


