<div class="small-7 columns">
<h1>About AMCC</h1>

<p>The AMCC Chess Camps are focused on teaching students the age-old art of chess, a game of strategy and quick thinking - an intense battle of the minds.</p>

<p>OUR MISSION: It is the mission of AMCC Chess Camps, a private chess education organization, to maintain a formal program of instruction to teach the game of chess and to promote and support its educational program through community outreach and local and national partnerships to increase the awareness of the educational value of chess.</p>

<p>Here are a few examples of our curriculums: <br>
-Principles of Chess <br>
-How to Become a Grandmaster in 30 days <br>
-The Likeness of Chess and Life <br>
-How Do Chess Pieces Move? <br>
-Mastering Chess Tactics <br>
-Endgame Principles <br>
-Nimzo-Indian Deefense <br>
</p>

<p>We also aim to make sure our students are trained in sass and sarcasm, because without such skills, one is lost in life.</p>
</div>

<div class="small-2 columns"></div>

<div class="small-3 columns">
<h2>The Names Behind AMCC</h2>
<%= image_tag 'alex.jpg' %><br><br>
<p>Alex Heimann has earned his Life Master title with a current USCF rating of 2374.  Alex has won 4 national scholastic chess championships as well as 2 national bughouse championships.  Alex attends Wheaton College in Illinios where he majors in business with a minor in anthropology and plays ultimate frisbee. </p><br>

<%= image_tag 'mark.jpg' %><br><br>
<p>Mark is currently among the top 100 players in the United States (USCF rating: 2449) and has won 4 national scholastic chess championships.  Mark attends Washington University in St. Louis where he majors in mathematics and economics and plays first board for the school's chess team. </p>
</div>
<br><br>
