<div class="small-7 columns">
  <h1>Contact</h1>
  <p> Unfortunately, the AMCC Chess Camps are not operational at the moment, however we would love
  to provide you with a forum to express your interest or thoughts about our program. We hope to incorporate your feedback and suggestions into our camps as we open up for sessions this summer.
  </p>
</div>

<div class="small-1 columns">
  &nbsp;
</div>

<div class="small-4 columns">
  <table>
    <tr>
      <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
      <td>Pranita Ramakrishnan</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= mail_to("pranita25@gmail.com") %></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td>703-968-4420</td>
    </tr>
  </table>
  <br>
</div>