<div class="small-7 columns">
  <h1>Privacy Policy</h1>

  <p>Our privacy policy is crafted to be simple to understand. Trust is one of the foundations of 
  a good business-client relationship and here at AMCC, we go beyond that.

  With the amount of detail and attention we give to each student and their progress, we hope to
  create a tight-knight community (and beyond that, a family).

  All the personal information you provide us will NOT be given out to third-party vendors and will
  strictly be used to manage the business of the AMCC.
  </p>
</div>

<div class="small-1 columns">
  &nbsp;
</div>

<div class="small-4 columns">
<%= image_tag 'privacy.png' %><br><br>
</div>
<br><br>